/*Default**/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', sans-serif;
    
}

body , html 
    {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-size: auto;
    }

body{
    background-color:rgb(11, 13, 14);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}



/*Default**/

.firstcontainer{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    gap: 50px;
    
}
/**Instagram head title*/
/* cursor css start*/


#insta,#feature{
    text-align: center;
    font-size: 5rem;
    color: white;
    padding: 10px;
}

.cursor{
    
    height: 45px;
    width: 50px;
    mix-blend-mode:color-dodge;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.1s;
   
}
/*container box**/
  
  .container{
    
    box-shadow: 2px 2px 2px 2px  #9bdaf796;
    height:400px;
    width:250px;
    background-color:#fff;
    border-radius: 10px;
    position: relative;
    border:1px solid rgb(245, 243, 243);
    z-index: 999999;
  }
  /*container **/

  /*Instagram header css**/

  .instatitle{
    height: 30px;
    padding: 2px;
    display: flex;
    align-items: center;
    font-family: 'poppins', sanserif;
    border-bottom: 1px solid rgb(247, 243, 243);
  }

.instatitle p , .instatitle span , .instatitle i{
    font-size: 10px;
    padding: 5px;
}

.instatitle span{
    margin-left: auto;
}

/**instagram header css ends */

/*instagram story css starts*/
.card{

    position: relative;
    height: 70px;
    width: 100%;
    background-color:#fff;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 10px;
  
}

.card::-webkit-scrollbar{
    display: none;
}

.storyi{
    color: #f7f8f6;
    height: 60px;
    width: 100%;
    cursor:pointer;
    padding: 1px 2px;
}

.story
{   
    padding: 1px 2px;
    margin: 2px;
    color: blue;
    height: 100%;
    width: 25%;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden; 
}

.story img{
    background-Image: linear-gradient(#feda75,#fa7e1e,#d62976,#962fbf,#4f5bd5);
    padding: 2px;
    height: 60px;
    width: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
   
}

#full-screen{
      display: none;
      border-radius: 10px;
      position:relative;
      z-index: 999;
      background-size: cover;
      background-position: center;
      height:100% ;
      width: 100%;
}


.contain-fullscreen{
    display: none;
    justify-content: center;
    height: 330px;
    width: 100%;
    background-color: white;
    position: relative;
    border: 1px solid rgb(247, 243, 243);
    overflow-y: scroll; 
}

.contain-fullscreen video{
    overflow-y: scroll;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}


.contain-fullscreen::-webkit-scrollbar{
    display: none;
}

/*instagram story css ends*/

/* post css starts*/

.container .insidecard{
    display: block;
    justify-content: center;
    height: 270px;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    position: relative;
    border: 1px solid rgb(247, 243, 243);
    overflow-y: scroll; 
}

.insidecard::-webkit-scrollbar{
    display: none;
}

.insidecard .posthead{
    padding-left: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 30px;
    width: 100%;
    background-color: #FFF;
    
}

.posthead #postdp{
    padding: 1px;
    width: 20px;
    height: 70%;
    border-radius: 50%;
    background-image: linear-gradient(#feda75,#fa7e1e,#d62976,#962fbf,#4f5bd5);
}

#posttext{
   
    font-size:10px;
    font-weight: 800;
    margin-left: 4px;
}

#songname{
   
    width: 100%;
    font-size: 7px;
    margin-left: 12px;


}

#shareicon{
    margin-left: auto;
    font-size: 15px;
}

/*post header ends*/


/* inside card starts*/



.insidecard .profile{
    height: 200px;
    width: 98%;
    position:absolute;
    object-fit:cover;
    object-position: center;
    z-index: 5;
    
}

 #heart{
    opacity: 0;
    transition-delay: 2ms;
    color: rgb(242, 240, 243);
    position:relative;
    top: 35%;
    left: 35%;
    z-index:10000;
    font-size: 45px; 

}

.postcontainer{
    height: 200px;
    width: 100%;
}

.posttail{
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}
.posttail span,.posttail i{
    font-size: 13px;
    padding: 2px;
}

#comment{
    font-size: 10px;
}

#bookmark{
    margin-left: auto;
}

/* inside card ends*/


/* tailnavbar starts*/

#tailnavbar{
    height: 100px;
    background-color: white;
    z-index: 2;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    color:black;
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2px 1px;
    border-radius: 10px;
}

#tailnavbar i{
    padding: 10px;
    font-size: 12px;
}

/** container ends*/

.lines{
    margin-bottom: 2%;
    font-size: 1vw;
    position: relative;
    padding: 2px 10px 2px 10px;
    color:#fff;
}
.secondcontainer{
    width: 50%;
}

.container2{
    
    height: 100%;
    width: 100%;
    position: relative;
    
}

.logincard{
    text-align: center;
    padding: 2rem;
    width:100%;
    height: auto;
    border-radius: 10px;
    
}

#merabhai{
    height: fit-content;
    width: 100%;
    color: #f7f8f6;
    padding: 10px;
    font-size: 7vh;
}

#merabhai img{
    size: 5px;
}


#merabhai span{
    font-size:7vw;
    color: #4f5bd5;
}
.inputs {
    text-align: center;
    color: white;
    padding: 1em;
    border:none ;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputs input{
    width: 70%;
    margin-bottom: 5px;
    padding: 15px 20px;
    margin: 4px auto;
    border: 2px solid #4f5bd5;
    border-radius: 10px;
}

.login-button{
  display: block;
  
  
}

hr{
    text-align-center;
    width:100%;
}

.icons{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icons i{
    color: white;
    padding: 10px 30px; 
    font-size:auto;
     cursor: pointer;
}

.icons .fa-google{
 color:#34A853;
}

.icons .fa-twitter{
    color:lightskyblue;
   }

   .icons .fa-facebook-f{
    color:#3b5998;
   }





.login-button button{
    padding: 10px 20px;
    margin-top: 20px;
    border: none;color: white;
    border-radius: 10px;
    background-color: #1d62f5;
    cursor: pointer;
}

.merabhai2{
    display: none;
}
@media screen and ((min-width:100px) and (max-width:550px)) ,((min-height:900px) and  (min-width:900px)) {
    
    body{
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        justify-content: space-evenly;
        align-items: center;
       font-size: auto;
    }

    .cursor,.rocket{
        display: none;
    }

    

    .firstcontainer , .secondcontainer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: fit-content;
    }

    #merabhai , .lines{
        display: none;
       
    }

    .inputs input{
        width: 100%;
    }

    

    .merabhai2{
        font-family: 'Tilt Neon', sans-serif;
        font-size: 7vw;
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        color: #f7f8f6;
        padding-top: 50%;
    }


   .merabhai2 span{
    font-size:12vh;
    color: #4f5bd5;
   }
}


